QWidget {
    background-color: #f4f6ff;
}

QPushButton {
    background-color: #007BFF;
    color: #f4f6ff;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
}

QPushButton:hover {
    background-color: #0056b3;
}

QLabel {
    color: #333;
}
